/* [CSS MODULE] /src/components/StoryCard.module.css */
.card {
  position: relative; 
  width: 350px;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  cursor: pointer;
  transition: transform 0.3s ease;
    opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card:hover {
 transform: scale(1.03) translateY(0);
}
.card.visible {
  opacity: 1;
  transform: translateY(0); /* Move back to its original position */
}

.image {
  /* This makes the Next.js Image component act like a background image */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  /* This creates the dark gradient at the bottom so the text is readable */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.8) 20%, transparent 60%);
  z-index: 2;
}

.content {
  padding: 20px;
  position: relative; /* Ensure content is on top of the overlay */
  z-index: 3;
}